@import "tailwindcss";
.leaflet-control-container {
    display: none !important;
  }
.invisible-scrollbar {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
